---
title: CockroachDB Service Broker for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The CockroachDB Service Broker for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

**Note**: This description will appear under **OVERVIEW** in the tile's listing on 
[Pivotal Network](http://network.pivotal.io).

## <a id='overview'></a>Overview

**The overview describes the service that your product offers to PCF developers. 
Make sure to overview the features of the integration.
Don't focus only on the overview of your product that is being integrated.
See below for an example.**

The CockroachDB Service Broker for PCF will allow PCF Admins to offer developers access to logically isolated databases
within a shared, externally deployed CockroachDB cluster.

**Note**: This overview will appear under **OVERVIEW**, combined with the description above in the tile's listing on 
[Pivotal Network](http://network.pivotal.io).

## <a id='features'></a>Key Features

**Note**: This feature list will appear under **FEATURES** in the tile's listing on 
[Pivotal Network](http://network.pivotal.io). 

CockroachDB Service Broker for PCF includes the following key features:

* This creates logically isolated databases in an existing CockroachDB cluster.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about PRODUCT-NAME.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 8,2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>All CockroachDB versions</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>vYOUR-COMPATIBLE-PIVOTAL-APPLICATION-SERVICE-VERSION (Ex. v1.11.x, v1.12.x, and v2.0.X)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, DigitalOcean and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>
* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="reqs"></a>Requirements

CockroachDB Service Broker for PCF has the following requirements:

+ A CockroachDB cluster thats not running in secure mode.

## <a id="limitations"></a>Limitations

+ CockroachDB secure mode is not supported in this release

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to YOUR-SUPPORT-EMAIL.

## <a id='license'></a>License

+ [Apache License 2.0](https://github.com/cockroachdb/pcf-crdb-service-broker/blob/master/LICENSE)