---
title: CockroachDB Service Broker for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>WARNING! </strong>
The CockroachDB Service Broker for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

## <a id='overview'></a>Overview

The CockroachDB Service Broker for PCF will allow PCF Admins to offer developers access to logically isolated databases
within a shared, externally deployed CockroachDB cluster.

## <a id='features'></a>Key Features

The CockroachDB Service Broker for PCF creates logically isolated databases in an existing cluster.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about CockroachDB Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.9.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 8, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>All CockroachDB versions</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v2.0.X</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, DigitalOcean and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>No</td>
    </tr>
</table>
* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="reqs"></a>Requirements

CockroachDB Service Broker for PCF has the following requirements:

+ A CockroachDB cluster running in insecure mode.

## <a id="limitations"></a>Limitations

+ CockroachDB's secure mode is not supported in this release

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list, leave feedback on the [CockroachDB Forum](https://forum.cockroachlabs.com/) or create a ticket on [our github](https://github.com/cockroachdb/pcf-crdb-service-broker).

## <a id='license'></a>License

+ [Apache License 2.0](https://github.com/cockroachdb/pcf-crdb-service-broker/blob/master/LICENSE)