---
title: Installing and Configuring CockroachDB Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure CockroachDB Service Broker for PCF.

##<a id='install'></a> Install and Configure CockroachDB Service Broker for PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of CockroachDB Service Broker for PCF.
This adds the tile to your staging area.

1. Click the newly added **CockroachDB Service Broker for PCF** tile.

1. Click 'Add' under Plans.

1. Name the plan and enter your database hostname.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install CockroachDB Service Broker for PCF tile.
