---
title: Release Notes for CockroachDB Service Broker for PCF
owner: Partners
---
These are release notes for CockroachDB Service Broker for PCF.

##<a id="ver"></a> v0.9.2

**Release Date:** February 8, 2018

Features included in this release:

* This is the initial release of the service broker

Known issues in this release:

* Currently only supports insecure deployments